[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
opencv-python = "*"
numpy = "*"
python-telegram-bot = {extras = ["job-queue"], version = "*"}
python-dotenv = {extras = ["cli"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
